# Production build directory
/.next/

# Node modules
/node_modules

# Environment variables
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor files
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Cache directories
.nuxt/
.cache/
out/
dist/
.env

src/local.tsx
