# Compiled Python files
*.pyc
*.swp

# Local settings
.venv/

*.env

# Database files
db.sqlite3

# Static files directory
staticfiles/

# Media files directory
media/

# Secret key
*.secret_key

# Log files
log/
*.log

# macOS related files
.DS_Store

# PyCharm related files
.idea/*
*.iml
*.ipr
*.iws

# VSCode related files
.vscode/
.DS_Store
static_root/
data/